html {
  scroll-behavior: smooth; 
}

body {
  position: relative;
  padding-top: 58px;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

p {
  max-width: 52rem;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2.25rem;
  text-transform: uppercase;
  color: theme-color('primary');
}

.skills-list {
  .fas, .far, .fab {
    font-size: 2.5rem;
    padding: .5rem .5rem .5rem 0;

    &:hover {
      color: theme-color('primary');
    }
  }
}

.list-awards {
  li {
    margin-bottom: .5rem;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }

  .side-navbar {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }

    .side-navbar .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }

    .side-navbar .navbar-brand .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      /*border: 0.5rem solid rgba(255, 255, 255, 0.2);*/
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    }

    .side-navbar .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
      text-transform: uppercase;
    }

    .side-navbar .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }

    .list-awards {
      li {
        margin-bottom: .25rem;
      }
    }
}
