<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Criação de Websites com Padrões Web e Design Responsivo.">
    <meta name="author" content="Jam Freire, jamfreire.github.io">
    <meta name="keywords" content="web designer, web developer, front end">
    <meta name="theme-color" content="#34558b">

    <link rel="stylesheet" href="assets/css/custom-bootstrap.css">

    <title>José Andersson M. Freire - Web Designer & Developer</title>

    <script src="https://kit.fontawesome.com/6953516f22.js" crossorigin="anonymous"></script>
</head>

<body id="page-top" data-spy="scroll" data-target="#mainNav" data-offset="0">
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top side-navbar">
        <a class="navbar-brand" href="#page-top">
            <span class="d-block d-lg-none">Jam Freire</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/jam-freire.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills flex-lg-column" role="tablist">
                <li class="nav-item scroll-trigger"><a class="nav-link active" href="#page-top">Sobre Mim</a></li>
                <li class="nav-item scroll-trigger"><a class="nav-link" href="#experience">Experiência</a></li>
                <li class="nav-item scroll-trigger"><a class="nav-link" href="#education">Formação</a></li>
                <li class="nav-item scroll-trigger"><a class="nav-link" href="#skills">Habilidades</a></li>
                <li class="nav-item scroll-trigger"><a class="nav-link" href="#awards">Prêmios</a></li>
            </ul>
        </div>
        <ul class="nav d-none d-lg-flex">
            <li class="nav-item">
                <a class="nav-link text-light" href="https://github.com/jamfreire" target="_blank" title="github.com/jamfreire"><i class="fab fa-github fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="https://www.linkedin.com/in/jamfreire/" target="_blank" title="linkedin.com/in/jamfreire/"><i class="fab fa-linkedin fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="https://instagram.com/jamfreire" target="_blank" title="instagram.com/jamfreire"><i class="fab fa-instagram fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="mailto:jamfreire@gmail.com" target="_blank" title="jamfreire@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
            </li>
        </ul>
    </nav>

    {{ content }}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>    